<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maduo.redcarpet.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".RedCarpetApp"
        android:label="Red Carpet"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_app_icon"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AppActivity"
            android:exported="false"
            android:label="@string/title_activity_app"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>